body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Fundo cinza */
    color: #fff; /* Texto branco */
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
}

.Adicionar {
    flex: 0 0 300px; /* Tamanho fixo */
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: fit-content; /* Garante que a altura seja ajustada ao conteúdo */
    color: #333; /* Texto preto */
}

.Carrinho {
    flex: 1; /* Tamanho dinâmico */
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    color: #333; /* Texto preto */
}

.itemCarrinho {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    margin: 20px 0;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    color: #555;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}

.btnAdicionar {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.btnAdicionar:hover {
    background-color: #0056b3;
}

.btnComprar {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s ease;
}

.btnComprar:hover {
    background-color: #218838;
}

.btnExcluir {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    transition: background-color 0.3s ease;
}

.btnExcluir:hover {
    background-color: #c82333;
}